/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  vjmarteau/nf-bulk-pipeline Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  Default config options
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name             = 'vjmarteau/nf-bulk-pipeline'
    author           = 'Valentin Marteau'
    description      = 'nf-pipeline template for custom data analysis'
    nextflowVersion  = '>=22.04'
    version          = 'v1.0.0'
}

// Global default params, used in configs
params {

  // Choose between "symlink" - absolute path, "rellink" -relative path, "link " -hard link, "copy"
  publish_dir_mode = "copy"

  // Workflow flags
  resDir                  = "./results"
}

process {

  container = "./envs/climbing-stats.sif" // Run all above processes in same singularity container

  cpus = 1

  // Per-process configuration
  withName: Webscrape_KI_Routendatenbank {
      publishDir = [path: { "${params.resDir}/Webscrape_KI_Routendatenbank" }, mode: params.publish_dir_mode]
  }
}


conda {
    useMamba = true
}

singularity {
    enabled = true
    runOptions = "--no-home" // Prevents using packages stored in local home dir 
    autoMounts = true
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.penv = 'smp'
        process.queueSize = 600
        process.clusterOptions = { '-V -S /bin/bash -q all.q' }
    }
}